#newsFeed-article-container {
    display: flex;
    flex-direction: row;
    padding: 5px;
    align-items: stretch;
    flex-wrap: wrap;
    margin: 0px 20px 0px 20px;
    justify-content: center;
}

#newsInputContainer {
    display: flex;
    flex-direction: column;
    padding: 8px;
    max-width: 375px;
    border-radius: 5px;
}

#newsFeed-input-container {
    min-width: 200px;
    max-width: 375px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 4px 3px 9px #aaaaaa;
}

.articleContainer {
    padding: 10px;
    margin: 5px 5px 5px 5px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #aaaaaa;
    background-color: white;
    width: 225px;
}

.card-button-container {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px 0px 0px;
}

#display-container{
    padding: 5px;
}

.postButtonContainer {
    display: flex;
}

.newsCardButton {
    border-radius: 5px;
    background-color: #0774CD;
    border: none;
    color: white;
}

.newsCardButton:hover {
    box-shadow: 1px 1px 1px grey;
    cursor: pointer;
}


#newsSynopsisInput {
    height: 100px;
}

#newsTitleInput,
#newsSynopsisInput,
#newsURLInput {
    margin: 5px 0px;
}


.newsArticleEdit {
    background-color: #d45454
}

#createInputButton {
    border-radius: 5px;
    min-width: 200px;
    width: 375px;
    padding: 5px;
    border: none;
}

#createInputButton:hover {
    background-color: #0774CD;
    color: white;
    cursor: pointer;
}

#postArticleButton {
    border-radius: 5px;
}

.postButton {
    border-radius: 5px;
    margin: 5px;
}

.postButton:hover {
    background-color: #0774CD;
    color: white;
    box-shadow: 1px 1px 1px grey;
    cursor: pointer;
}

.eventSummary,
.eventURL {
    margin: 0px 0px 10px 0px;
}

.userName{
    display: flex;
}

.eventTimestamp {
    font-size: 10px;
}

@media only screen and (max-width: 590px) {
    #createInputButton {
        border-radius: 5px;
        min-width: 200px;
        width: 200px;
        padding: 5px;
        border: none;
    }
    #newsFeed-input-container {
        min-width: 200px;
        max-width: 200px;
        margin: auto;
        border-radius: 5px;
        box-shadow: 4px 3px 9px #aaaaaa;
    }
}