.eventCard:first-of-type {
    font-weight: bolder;
    background-color: lightgoldenrodyellow;
    font-size: 2em;
}

.eventCard:first-of-type button {
  font-size: .5em;
}

#message_output_container {
height: 200px;
width: 300px;
resize: both;
overflow: auto
}

.time {
font-size: 0.6em;
margin: 0px 10px;
}

.friend{
background-color: cornsilk;
}

#friendListContainer {
border: solid black 1px;


}